[Unit]
Description=Network Assistant Server
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/opt/NetworkAssistant
ExecStart=/usr/local/bin/network-assistant-server
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
